<div id="<%= dom_id availability_slot %>" class = 'my-5 p-6 rounded-lg border border-gray-200 shadow-md'>

  <p class="my-5">
    <strong class="block font-medium mb-1">Event ID:</strong>
    <%= availability_slot.events_id %>
  </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= availability_slot.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration:</strong>
    <%= availability_slot.duration %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this availability slot", availability_slot, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this availability slot', edit_availability_slot_path(availability_slot), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
